
.temp-help-button
    width: 300px
    border-radius: 15px
    border: 4px solid $darkBlue
    +flexCenter()
    button
        text-align: center
        padding: 20px
        +buttonReset()
        color: $darkBlue
        letter-spacing: 1px
        font-size: 20px

.main-button, .info-button
    width: 250px
    border-radius: 15px
    background-color: $darkBlue
    +flexCenter()
    margin: 0 auto
    margin-top: 15px
    button
        padding: 15px
        color: $white
        font-size: 20px
        font-family: 'Roboto', sans-serif
        letter-spacing: 1px
        +buttonReset()



