.cart-item
    // height: 110px
    display: flex
    .left, .right
        width: 100px
        height: 100%
    .left
        .image
            +coverImage()
            width: 60px
            height: 60px
            border-radius: 100%
        .price
            padding: 10px
            font-weight: bold
            font-size: 20px
            +flexCenter()
    .mid
        width: 100%
        margin-left: 10px
        margin-right: 10px
        .name
            font-size: 20px
            text-align: center
        .stars
            margin: 0 auto
            font-size: 30px
            +flexCenter()
            color: $darkBlue
        .underline
            +underline(200px, 2px)
        .toggleReviews
            text-align: center
            color: $darkBlue
    .right
        padding-top: 25px
        +flexCenter()
        .remove-cart-item
            cursor: pointer
            font-size: 20px
            border-radius: 100%
            border: 2px solid $darkBlue
            color: $darkBlue
            width: 35px
            height: 35px
            +flexCenter()

#cartitem-template
    display: none