.cart
    width: 340px
    min-width: 340px
    display: flex
    flex-direction: column
    position: fixed
    .cart-heading, #cart-blurb
        text-align: center
        padding: 30px
    #cart-blurb
        margin-top: 50%
    .cart-heading
        padding: 60px
        padding-bottom: 20px
        h3
            padding-bottom: 15px
            font-family: 'Permanent Marker', cursive
            font-size: 20px
        .underline
            +underline(200px)
    #cart-help-button
        //margin-bottom: 50px
        margin-top: 25vh
    #total-price
        text-align: center
        padding-bottom: 60px
        font-weight: bold
    .item-holder
        display: none
        position: relative
        top: 0
        min-height: calc(100vh - 420px)
        padding-left: 20px
        overflow: hidden
        overflow-y: auto
        border-left: 3px solid $darkBlue
    .button-holder
        width: 100%
        height: auto
        position: relative
        +flexCenter()